@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=ZCOOL+KuaiLe&display=swap');
.App {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  width: 100%;
  height: 100vh;
  min-height: 750px;
  flex-direction: column;
}