.main {
  flex: 4;
  height: 500px;
  display: flex;
  flex-direction: row;
}

.left-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#code-editor {
  font-family: "Roboto Mono";
  background-color: #fafafa;
  width: 100%;
  height: 400px;
  margin: 20px 0;
  border-radius: .25rem;
  position: relative;
}

.codeflask {
  border-radius: .25rem;
  transition: all .05s ease-in;
  font-size: 20px !important;
}

.codeflask:focus-within {
  box-shadow: 0 0 0 5px rgb(129, 187, 253);
  -moz-outline-radius: .25rem;
}

.codeflask__flatten {
  font-size: 15px !important;
}

.buttons {
  width: 80%;
}

.buttons button {
  width: 100%;
  margin: 10px
}

.right-box h2 {
  user-select: none;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'ZCOOL KuaiLe';
}

.token-table-container {
  width: 100%;
  background-color: #fafafa;
  height: 400px;
  padding: 20px;
  border-radius: .25rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.token-box::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

.token-table-container table {
  user-select: none;
}